@import "./../../common/styles/container";
@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.slogan {
  @include padding;

  .wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      width: 230px;
      height: 160px;
      left: -40px;
      top: -50px;
      transform: rotate(50deg);
      background: $textColor;

    }

    a {
      color: $bgColor;
      position: relative;
      z-index: 2;
    }

    &:hover {
      background: none;
      transition: 0.2s 0.5s;
      border: 2px solid $textColor;

      a {
        color: #444;
        transition: 2s;
        font-weight: bold;
      }
    }

    &:hover:after {
      transition: 2s;
      left: -400px;
    }

    //
    //.btnAlt {
    //  color: $bgColor;
    //}
  }
}



