@import "./../../common/styles/container";
@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.slogan {
  @include padding;
  text-align: center;
}

.btnAlt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 50px;
  cursor: pointer;
  border: 2px solid $textColor;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  border-radius: 50px;
  line-height: inherit;
  outline: none;
  transition: all .2s linear;
  color: $bgColor;
  background: $textColor;

  &:hover {
    background: $bgColor;
    color: $textColor;
    font-weight: bold;
  }
}


