@import "./../../common/styles/container";
@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.slogan {
  @include padding;
}

.title {
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  text-align: center;
  text-decoration: none;
}