@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';
@import "./../../common/styles/container";

.project {
  @include padding;

  .container {
    .projectWrapper {
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
    }

  }
}


