@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';
@import "./../../common/styles/container";

.project {
  @include padding;
  .container {

    .wrapper {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1129px) {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}


