@import "./../../common/styles/container";
@import "./../../common/styles/sass/mixins";

.skills {
  @include padding;

  .skillsCard {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .skillsCard__reactIcon {
      @include subText($fontTitle, 55px, 400);
      transform: rotate(-45deg);
    }
  }
}



