
.skills {
    height: 100vh;
    background: #6e1d12;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
}
.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title {
    height: 100px;
    margin: 0;
    border: 1px solid;
    text-align: center;
}
