@import "./../../common/styles/container";

.main {
  padding: 130px 0 50px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .mainGreeting {
      @media screen and (max-width: 678px) {
        margin: 95px auto 0;
      }
    }

    .wrapper {
      @media screen and (max-width: 678px) {
        margin: 0 auto;
      }

      .mainPhoto {
        padding: 0 15px;
        margin: 0 auto;
        height: 400px;
        width: 300px;
        border-radius: 50px;
        position: relative;
        @media screen and (max-width: 678px) {

        }
      }
    }
  }

  @media screen and (max-width: 678px) {
    padding-top: 0;
  }
}






