@import "./../../common/styles/container";

.main {
  padding: 50px 0;


  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .mainGreeting {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      margin: 0 auto;
    }

    .mainPhoto {
      padding: 0 15px;
      margin: 0 auto;
      height: 400px;
      width: 300px;
      border-radius: 50px;
    }
  }
  @media screen and (max-width: 678px) {
    padding-top: 0;
  }
}





