@import "./../../common/styles/container";

.main {

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 768px){
      flex-direction: column;
    }

    .greeting {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      margin: 0 auto;
    }

    .photo {
      padding: 0 15px;
      margin: 0 auto;
      height: 400px;
      width: 300px;
      background: #6e4f68;

    }
  }
}





