@import "./../../../common/styles/sass/mixins";
@import "./../../../common/styles/sass/variables";


.nav {
  display: flex;
  justify-content: flex-end;

  .navBtn {
    cursor: pointer;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  .navlink {
    cursor: pointer;
    text-decoration: none;
    margin: 0 15px;
    @include subText($fontTitle, 18px, 400);
    text-transform: capitalize;
    color: $textSecondColor;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: $textColor;
    }
  }

  .menuMobile {
    @media (max-width: 768px) {
      display: none;
    }
  }
}









