@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.wrapper {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 50px;

  &:after {
    position: absolute;
    content: '';
    width: 216px;
    height: 145px;
    left: -40px;
    top: -50px;
    transform: rotate(41deg);
    background: #444;
    background: $textColor;

  }

  &:hover {
    background: none;
    color: $bgColor;
    border: 2px solid #fff;
  }

  &:hover:after {
    left: -400px;
  }

  .btn {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 161px;
    height: 50px;
    position: relative;
    z-index: 2;
    color: $bgColor;

    line-height: inherit;
    outline: none;
    transition: all .2s linear;



  }
}





