@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.wrapper {
  text-align: center;

  .btn {
    cursor: pointer;
    border: 2px solid $textColor;
    padding: 14px 50px 14px 50px;
    position: relative;
    z-index: 2;
    border-radius: 50px;
    line-height: inherit;
    outline: none;
    transition: all .2s linear;
    color: $primaryColor;
    &:hover {
      background: $textColor;

      a {
        color: $bgColor;
      }
    }
    .name {
      text-align: center;
      @include text($fontTitle, 15px, 0, 400);
      transition: all .2s linear;
    }


  }
}





