@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.wrapper {
  text-align: center;

  .btn {
    cursor: pointer;
    border: 2px solid $textColor;
    padding: 5px 27px 4px 28px;
    position: relative;
    z-index: 2;
    border-radius: 50px;
    line-height: inherit;
    outline: none;
    transition: all .2s linear;

    .name {
      text-align: center;
      @include text($fontTitle, 11px, 0, 400);
      color: $primaryColor;
      transition: all .2s linear;

      &:hover {
        color: $bgColor;
      }
    }

    &:hover {
      background: $textColor;
    }
  }
}





