@import "./../../common/styles/container";

.footer {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.copyring {
  text-align: center;
}

.link {
  margin-right: 10px;
}

.link:last-child {
  margin-right: 0;
}