@import "./../../common/styles/container";
@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.contact {
  @include padding;
}

.form {
  margin: 0 auto;
  width: 500px;

}

.title {
  text-align: center;
  margin: 0;
}




