@import "./../../common/styles/container";
@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.contact {
  @include padding;

  .form {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 560px) {
      width: 100%;
    }

    Button {
      margin-top: 25px;
    }
  }
}






