@import './variables';

@mixin text($fontFamily,$fontSize,$lineHeight,$fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $textColor;
}


@mixin subText($fontFamily,$fontSize,$fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
}